//output: index.html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
    title Frontend Mentor | Fylo landing page with two column layout
    link(rel="stylesheet" href="./css/reset.css")
    link(rel="stylesheet" href="./css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans%7cRaleway:400,700&display=swap" rel="stylesheet")
  body
    div.nav
      = '\n'
      img(src="./images/logo.svg" alt="")
      div.block
        h3 Features
        h3 Team
        h3 Sign In
    div.main
      div.block1
        div.block11
          h1 All your files in one secure location, accessible anywhere.
          p Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
          form(id="frStarted", method="POST", action="#")
            label(for="fStarted")
            input(type="text" id="fStarted" name="fStarted" placeholder="    Enter your email..." class="iText")
            input(type="submit" value="Get Started" class="iButton")
        img(src="./images/illustration-1.svg" alt="") 
      div.block2
        img(src="./images/bg-curve-desktop.svg" alt="")
        div.block21
          div.block211
            h1 Stay productive, wherever you are
            p Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
            p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!
            = '\n'
            p
              a(href="#").underlineLink See how Fylo works
                img(src="./images/icon-arrow.svg" alt="")
            div.block2111
              p 
                img(src="./images/icon-quotes.svg" alt="").smallImg
              p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
              div.block21111
                img(src="./images/avatar-testimonial.jpg" alt="")
                div.block211111
                  h4 Kyle Burton
                  h5 Founder & CEO, Huddle
          img(src="./images/illustration-2.svg" alt="")
      div.block3
        div.block31
          h2 Get early access today
          p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
        form(id="frStartedFree", method="POST", action="#")
          label(for="fStartedFree")
          input(type="text" id="fStartedFree" name="fStartedFree" class="iText" placeholder="     email@example.com")
          input(type="submit" value="Get Started For Free" class="iButton")
  
    div.footer
      img(src="./images/logo-white.svg" alt="")
      div.block4
        div.block41
          div 
            img(src="./images/icon-phone.svg" alt="")
            p Phone: +1-543-123-4567
          div 
            img(src="./images/icon-email.svg" alt="")
            p example@fylo.com
        div.block42
          p About Us
          p Jobs
          p Press
          p Blog
        div.block43
          p Contact Us
          p Terms
          p Privacy
        div.block44
          img(src="./images/icon-facebook.svg" alt="")
          img(src="./images/icon-instagram.svg" alt="")
          img(src="./images/icon-twitter.svg" alt="")
      p.attribution Challenge by 
        a(href="https://www.frontendmentor.io?ref=challenge" target="_blank")  Frontend Mentor
        |  coded by 
        a(href="#") EdMadd
        | .
